<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
    <h1>Anfisa for friends</h1>
    <img src=".images/img.jpg">
    <br>
    <p>
        {{ friend_output }}
      </p>
      <p>
        {{ city_weather }}
      </p>
      <p>
        {{ conclusion }}
      </p>
      <form action="/" method="post">
        <h2>Choose a friend</h2>
          {{ friends|safe }}
        <h2>Choose a icecream</h2>
          {{ icecreams|safe }}
        <br>
        <input type="submit" value="Treat">
      </form>
</body>
</html>